
@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap');


.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
/* min-height: 90vh;*/
 }

.regalos {
  width: 850px;
  background-color: rgb(255, 255, 255);
  /* height: 350px; */
  border-radius: 10px;
  margin-top: 20px;
  
}




h2{
  
  background-color: #f7da88;
  color: white;

  text-align: center;
 height:46px;
  padding-top: 5px;
  border-radius: 5px;
 font-family: 'Mountains of Christmas', cursive;
 font-size: 2.3rem;
}

/*  */

