<div class="row justify-content-center input" > 
 
 <div class="col-sm-4" style="margin-bottom:  15px;">

    <label class="control-label"  >Regalo </label>
    <input type="text" class="form-control"  [(ngModel)]="regaloValue">
    </div>

    <div class="col-sm-3" style="margin-bottom:  15px;">

        <label class="control-label"  >Ingrese imagen </label>
        <input type="text" class="form-control"  [(ngModel)]="regaloURLValue">
        </div>

    <div class="col-sm-2" style="margin-bottom:  15px;">
 
        <label class="control-label"  >Cantidad </label>
        <input type="number" class="form-control"  [(ngModel)]="regaloCanValue">
        </div>

        <div class="col-sm-2">
           
                <button class="add" mat-raised-button style="background-color:  rgb(250, 109, 109);" color="primary" (click)="addRegalo()">Agregar</button>
           
        </div>
 
 </div>

 <div class="row  justify-content-center " *ngFor="let regalito of regalosArr">
 
    <div class="col-sm-8 "> 


        <div class="row">
            <div class="col-sm-2 ">
                <div class="contenedor-img"> 
                    <img src="{{regalito.img}} "  id="regaloimg" >
                </div>
              
            </div>
            <div class="col-sm-7  " style="display: flex; align-items: center;">
                <h3 > {{regalito.nombre}} ({{regalito.cantidad}}) </h3>
              
            </div>
            <hr> 
          </div>





       
    </div>
        <div class="col-sm-1 "> 
            <mat-icon  (click)="deleteRegalo(regalito)" style="color: rgb(250, 109, 109);margin-top: 10px;">delete</mat-icon>
            
        </div>

      
    </div>
     
 

 
    

  <div *ngIf="regalosArr.length<=0">
    
    <div class="row abs-center">
        <div class="col-sm-1 abs-center">
            <img src="./../../assets/Grinch.png " alt=”logo”  >

        </div>
        <div class="col-sm-7 abs-center"  >
            <p>No hay regalos , agrega alguno.</p></div>
     
    </div>
    
    </div>
  <!-- <button mat-button color="accent" (click)="deleteAllRegalos()">Borrar todos</button> -->





   














<!-- 
<ol>
    <li class=""><a href="#">Auriculares</a></li>
    <li class=""><a href="#">Dolares</a></li>
    <li class=""><a href="#">Sandia</a></li>
</ol>
     -->