ol li {
    list-style-type: none;
    counter-increment: item;
    margin-top: 15px;
  }
  
  ol li:before {
    content: counter(item);
    margin-right: 5px;
    font-size: 80%;
    background-color: #f9dd94;
    color: white;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 3px;
  }

  a{
    text-decoration: none;
    color: rgb(126, 126, 126);
  }

  .input{
    margin-top: 10px;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    /* background-color: #e9dfe4; */
    border: 1px solid #e2ded4 ;
    color: rgb(126, 126, 126);
    border-radius: 3px;
    width: 50%;
    margin-left: 10px;
    margin-right: 10px;
   margin-bottom: 10px;

}