@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&family=Nunito:ital@0;1&display=swap');
  
/* Varios */
  .input{
    margin-top: 10px;
    font-family: 'Nunito', sans-serif;
  }

  label{
    color:#7e7e7e;
    font-family: 'Nunito', sans-serif;
  }


  h2{
    color: #7e7e7e;;
  }

.add{
  margin-top: 20px;
}


p{
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem;
  color: #ee452f;
  font-weight:200 ;
}




