 
body {
    
    background-color: #F8D6CA;
    background-image: url(   https://images.unsplash.com/photo-1512916206820-bd6d503c003e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-size: cover;
    /**/
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
  /* min-height: 90vh;*/
   }