body {
    
    background-color: #F8D6CA;
    background-image: url(https://i.ibb.co/BKxYZ7g/background.png);
    background-size: cover;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
